<!DOCTYPE html>
<!--'''Jeremiah Daniels jbd22a
    due 2/21/2024
    The program in this file is the individual work of Jeremiah Daniels
'''-->
<html>
    <body>
        <h1>Best Movies of {{yr2}} </h1>
        <table border=1>
            <thead>
                <td>Title</td>
                <td>Genre</td>
                <td>Rating</td>
            </thead>

            {% for row in rows %}
                <tr>
                    <td>{{row["Title"]}}</td>
                    <td>{{row["Genre"]}}</td>
                    <td>{{row["Rating"]}}</td>
                </tr>
            {% endfor %}

        </table>
        <p><a href="/">Back to home</a></p>
    </body>
</html>