<!DOCTYPE html>
<!--'''Jeremiah Daniels jbd22a
    due 2/21/2024
    The program in this file is the individual work of Jeremiah Daniels
'''-->
<html>
    <body>
        <form action="{{ url_for('top_Year')}}" method="post"> 
            <h1>Top 5 Movies of a Year</h1>
            <div>
                <label for="year">Year:</label>
                <input type="number" id="year" name="year" required>
            </div> 
            <div>
                
                <input type="submit">
                
            </div> 
        </form>
        <p><a href="/">Back to home</a></p>
        

    </body>
</html>